* {
  margin: 0;
  padding: 0;
}
.container {
  height: 200px;
  width: 200px;
  border: 1px solid #ddd;
  position: relative;
}
.container .box {
  height: 100px;
  width: 100px;
  border: 1px solid #ddd;
  position: absolute;
  top: 15px;
  left: 15px;
}
.container .unset {
  top: initial;
  bottom: 15px;
}
.unset {
  font-weight: unset;
}
.revert {
  font-weight: revert;
}
